// Importing Global Variables
@import "~@patternfly/patternfly/sass-utilities/_all";

// Form step group
.ins-c-form-step-group {
    --ins-form-step-group--item--MarginBottom: var(--pf-global--spacer--md);
    --ins-form-step-group--form-step-group--item--MarginTop: var(--pf-global--spacer--lg);

    & + & {
        margin-top: var(--ins-form-step-group--form-step-group--item--MarginTop);
    }

    .ins-c-action:not(:last-child) {
        margin-bottom: var(--pf-global--spacer--lg);
    }

    .pf-c-content + .pf-c-content {
        margin-top: var(--pf-global--spacer--2xl);
    }

    pre {
        width: 100%;
        max-width: 800px;
    }
}

.pf-c-form__helper-text + .ins-c-form-step-group,
.pf-c-form__group + .ins-c-form-step-group {
    margin-top: var(--ins-form-step-group--form-step-group--item--MarginTop);
}
