// Importing Global Variables
@import "~@patternfly/patternfly/sass-utilities/_all";

// Page title
.ins-c-page-title {
    --ins-c-page-title__main--GridGap: var(--pf-global--spacer--sm);
    --ins-c-page-title__main--MarginBottom: var(--pf-global--spacer--md);

    --ins-c-page-title__c-title--MarginBottom: var(--pf-global--spacer--md);

    .pf-c-button {
        grid-column: 2;

        @media screen and (min-width: $pf-global--breakpoint--md) {
            display: none;
        }
    }

}

// Page title main section
.ins-c-page-title__main {
    display: grid;
    grid-template-columns: auto;
    grid-auto-columns: max-content;
    grid-gap: var(--ins-c-page-title__main--GridGap);
    align-items: baseline;
    margin-bottom: var(--ins-c-page-title__main--MarginBottom);

    @media screen and (min-width: $pf-global--breakpoint--md) {
        --ins-c-page-title__main--MarginBottom: 0;

        display: inline;
    }

    .pf-c-title {
        @media screen and (min-width: $pf-global--breakpoint--md) {
            margin-bottom: var(--ins-c-page-title__c-title--MarginBottom);
        }
    }
}
