.ins-c-dashboard-link {
    margin-top: var(--pf-global--spacer--xl);
}

.pf-c-form__helper-text {
    span {
        display: block;
        max-width: 500px;
    }

    &.ins-m-conditional-helper {
        --pf-c-content--MarginBottom: 0;

        margin-top: calc((var(--pf-c-form--GridGap) * -1) + var(--pf-c-form__helper-text--MarginTop));
    }

    &.ins-m-light {
        --pf-c-form__helper-text--Color: var(--pf-global--secondary-color--100);
    }
}

.ins-c-learn-more {
    font-size: var(--pf-global--FontSize--sm);
    white-space: nowrap;

    p & {
        margin-left: var(--pf-global--spacer--sm);
    }
}

.pf-c-title.ins-c-step-title,
.pf-c-content .pf-c-title.ins-c-step-title {
    margin-bottom: var(--pf-global--spacer--md);
}
